<!DOCTYPE html>
<img lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css\styles.css">
    <title>contato</title>
</head>
<body class="body-contact" >    
    <img src="https://media.discordapp.net/attachments/256482380515115008/1021380721220264016/logo-hit-branco.png" class="logo"></img> 
<div class="buttons">
    <a href="page.html.twig"> <button class="button-intro" > INTRODUÇÃO </button> </a>
    <a href="contato.html.twig"> <button class="button-contact" > CONTATO  </button> </a>    
</div>
<span class="intro" > Contato <img src="https://cdn.discordapp.com/attachments/256482380515115008/1021382389404024842/Grupo_4.png" alt="">  </span>
<div class="content-contact" >
    <form>
        <input class="content-contact-name" Placeholder="  Nome*" for="name"></input>
        <input class="content-contact-email" Placeholder="  E-mail*" for="E-mail"></input>
        <input rows="15" class="content-contact-messenger" Placeholder="  Menssagem*" type="text">   
        <button class="content-contact-button" >ENVIAR</button>     
    </form>    
</div>    
</body>
</html>